<?xml version='1.0'?>
<robot name="daedalus"
 xmlns:xacro="http://www.ros.org/wiki/xacro">    

  <xacro:property name="camera_link" value="0.05" /> <!-- Size of square 'camera' box -->

     <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 2" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
          

    <joint type="fixed" name="r_root">
      <child link="camera_link"/>
      <parent link="world"/>
    </joint>

</robot>
